<h1>Test API Contacts</h1>

<%#= @contactshub %>


<%# @contacts.each do |contact| %>
<!--   <ul>
    <li><%#= contact.firstname %></li>
    <li><%#= contact.lastname %></li>
    <li><%#= contact.email %></li>
    <li><%#= contact.company %></li>
  </ul> -->
<%# end %>


<!--
  ##################################################################
      ##################### PHANTOM BUSTER #############################
            ################################################################## -->





 <%# @phantombuster_callback.each do |key, value| %>

 <!--  <ul>
    <li><%#= key["agents"] %></li>
    <li><%#= value %></li>
    <li><%#= contact.email %></li>
    <li><%#= contact.company %></li>
  </ul> -->
<%# end %>



 <%# @phantombuster_callback["agents"].each do |key, value| %>

<!--   <ul>
    <li><%#= key %></li>
    <li><%#= value %></li>
    <li><%#= contact.email %></li>
    <li><%#= contact.company %></li>
  </ul>
<%# end %> -->

<%#=  @phantombuster_callback_parse_json  %>

<%= @for_huspot %>

<p>@contacthub</p>

<%#= @phantombuster_callback_parse_json.each do |lead| %>
<!-- <ul>
  <li><%#= lead["fullName"] %></li>
  <li><%#= lead["headline"] %></li>
</ul> -->
<%# end %>
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <!-- Compressed CSS -->


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "/assets/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <h1>Hello, world!</h1>



      <div class="class container">
<form>
  <div class="row">
    <div class="small-5">
      <label for="username">Username
        <input type="text" name="username" id="username">
      </label>
    </div>

    <div class="small-5">
      <label for="password">Password
        <input type="password" name="password" id="password">
      </label>
    </div>
  </div>

  <input type="submit" value="Login">
  <input type="button" value="Cancel">

</form>
      </div>


  <!--   <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/what-input.js"></script>
    <script src="/assets/vendor/foundation.min.js"></script> -->
    <script>
      $(document).foundation();
    </script>
<%= javascript_include_tag "application" %>
  </body>
</html>




<%# @result = [] %>
<%# @contacts["contacts"].each do |key, value| %>
<%#  key.each do|a, b| %>
<%# @result << b %>
  <%# end %>
  <%# valeurs.each do |key, valu| %>
  <%#= key %>
<%# end %>
<%#= @result[8] %>


 <!--  furniture_values = (furniture.map {|furn| [furn["name"], furn["color"], furn["size"], furn["date_created"], furn["condition"]]}) -->
