
<h1>New Contact</h1>

<div class="form-group container">
  <label for="exampleInputFile">File input</label>
  <input type="file" id="exampleInputFile">
  <p class="help-block">Example block-level help text here.</p>
</div>







<div class="class container">
  <div class="container">
    <%= form_for @contact do |f| %>
    <%= f.label :firstname, "Firstname" %>
    <%= f.text_field :firstname, class: "form-control" %>

    <%= f.label :lastname, "Lastname"  %>
    <%= f.text_field :lastname, class: "form-control"%>

    <%= f.label :email, "email" %>
    <%= f.text_field :email, class: "form-control" %>

    <%= f.label :company, "Your company" %>
    <%= f.text_field :company, class: "form-control" %>
    <%= f.submit class:"btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="container">


<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" >Menu</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul>
          <li><a href="#">Item 1</a></li>
        ...
        </ul>
    </aside>

    <!-- main content goes here -->
    <p>Set in the year 0 F.E. ("Foundation Era"), The Psychohistorians opens on Trantor, the capital of the 12,000-year-old Galactic Empire. Though the empire appears stable and powerful, it is slowly decaying in ways that parallel the decline of the Western Roman Empire. Hari Seldon, a mathematician and psychologist, has developed psychohistory, a new field of science and psychology that equates all possibilities in large societies to mathematics, allowing for the prediction of future events.</p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>
</div>



<!--
  ##################################################################
      ##################### PHANTOM BUSTER #############################
            ################################################################## -->
<h1>Phatom buster</h1>
<a  class= "btn btn-success boutons" href="https://phantombuster.com/api/v1/agent/31385/launch?&key=PuzLoIgb0mCaokfWEc51aRpqQvm1nuab" >Go</a>
<a  class= "btn btn-warning boutons" href="https://phantombuster.com/api/v1/agent/31385/abort?&key=PuzLoIgb0mCaokfWEc51aRpqQvm1nuab" >Stop</a>

<%= @phantombuster_callback %>

<%=  @contactshub %>
<p><%= link_to "back", contacts_path, class: "button success"  %></p>


