<h1>Mon contact</h1>

<p><%=@contact.firstname%></p>
<p><%= @contact.lastname %></p>
<li><%= @contact.email %></li>
<li><%= @contact.company %></li>




<!--
  ##################################################################
      ##################### PHANTOM BUSTER #############################
            ################################################################## -->

<a  class= btn btn-success href="#" >Go</a>

<p> <%= link_to "back", contacts_path %> </p>
